@using Microsoft.AspNet.Identity

@section cssstyle{
<link href="~/Content/Site.css" rel="stylesheet" />.
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            
                
                <a href='@Url.Action( "Index", "Manage", routeValues:null)' style=" margin-top: -6px; border-radius: 3000px;"><div class="col-sm-1"><div class="round round-sm blue"><span class="glyphicon glyphicon-user"></span> </div></div>
                 </a>

           @* @Html.ActionLink("Ola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues:null, htmlAttributes: new { title = "Manage" })*@
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-lg btn3d"><span class="glyphicon glyphicon-off"></span></a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<button type="button" class="btn btn-danger btn-lg btn3d"><span class="glyphicon glyphicon-off"></span></button>*@
        <li>@Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
