@model IEnumerable<Projeto_Lab4.Models.Imovel>

@{
    ViewBag.Title = "ListarImoveis";
}
@section cssstyle{
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<div class="container-fluid" @*style="background-color:#e8e8e8"*@>
    <div class="container container-pad" id="property-listings">

        <div class="row">
            <div class="col-md-12">
                <h1>Resultados da sua pesquisa</h1>
            </div>
        </div>
        <div class="row">           
                    
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-6">
                                <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                                    <div class="media">
                                        <a class="pull-left" href="/Imoveis/DetalhesImoveis/?imovelid=@item.ID_Imovel" target="_parent">
                                            <img alt="image" class="img-responsive" src="@item.Foto_principal">
                                        </a>
                                        <div class="clearfix visible-sm"></div>
                                        <div class="media-body fnt-smaller">
                                            <a href="/Imoveis/DetalhesImoveis/?imovelid=@item.ID_Imovel" target="_parent"></a>
                                            <h4 class="media-heading">
                                                @if (item.Valor_venda != null)
                                                {
                                                    <a href="/Imoveis/DetalhesImoveis/?imovelid=@item.ID_Imovel" target="_parent">
                                                        Valor de Venda: @item.Valor_venda €<small class="pull-left">@item.Encontra_se.Concelho.Nome_concelho, @item.Encontra_se.Concelho.Situa_se.Distrito.Nome_distrito</small>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="/Imoveis/DetalhesImoveis/?imovelid=@item.ID_Imovel" target="_parent">
                                                        Valor de Aluguer: @item.Valor_aluguer €<small class="pull-left">@item.Encontra_se.Concelho.Nome_concelho, @item.Encontra_se.Concelho.Situa_se.Distrito.Nome_distrito</small>
                                                    </a>
                                                }

                                            </h4>
                                            <br />
                                            <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                                <li>@item.Metros m2</li>
                                                <li style="list-style: none">|</li>
                                                <li>@item.Quantidade_de_Quartos Quartos</li>
                                                <li style="list-style: none">|</li>
                                                <li>@item.Quantidade_de_Casas_de_Banho Casas de banho</li>
                                            </ul>
                                            <p class="hidden-xs">
                                                @item.Descricao.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                            
        </div>
    </div>

                </div>
