@model Projeto_Lab4.Models.RegistoInfo
    @{
        ViewBag.Title = "Registar";
    }
<div class="container body-content">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {   @Html.AntiForgeryToken()
        <h4>Crie uma nova conta</h4>
        <hr />

        <fieldset>
            <p>Selecione o tipo de utilizador:</p>
            <div>
                @Html.RadioButtonFor(X => X.Utilizador, "Inquilino") Inquilino
                @Html.RadioButtonFor(X => X.Utilizador, "Proprietario") Proprietario
                @*@Html.RadioButtonFor(X => X.Utilizador, "Administrador") Administrador*@

            </div>
        </fieldset>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Numero_de_Telemovel, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Numero_de_Telemovel, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Data_Nascimento, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Data_Nascimento, new { @class = "form-control", type = "date" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Cartao_de_Cidadao, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Cartao_de_Cidadao, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Foto de Perfil", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" value="" class="form-control file-input" accept="image/*" />
                @Html.ValidationMessageFor(model => model.Foto_perfil, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Registar" />
            </div>
        </div>
    }

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
